@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
/* Variables */
/* Screensize */
/* Components */
/* Global */
* {
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  letter-spacing: 2px;
}

/* HOME */
.home__card_ad {
  display: flex;
  justify-content: space-around;
  margin: 0% 10%;
}
.home__greyback {
  padding: 2% 0%;
  background-color: lightgrey;
}

/* NAV */
.nav {
  border-bottom: 1px solid black;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  margin: 0% 10%;
  padding: 20px;
}
.nav__listItem {
  font-family: "Raleway", sans-serif;
}

/* Card Ad */
.card_ad {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 350px;
  margin: 0px 10px;
}
.card_ad__img {
  margin-bottom: 10px;
  object-fit: cover;
  max-height: 300px;
}
.card_ad__label {
  background-color: white;
  color: #b7b2ac;
  display: inline-block;
  padding: 8px 16px 0;
  position: relative;
  max-width: 35%;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, -140%);
  margin: 0 0 -24px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}
.card_ad__title {
  text-align: center;
  color: #183354;
  font-size: 24px;
  font-weight: 700;
  font-family: "Lora", serif;
}
.card_ad__desc {
  padding: 15px;
  text-align: center;
  color: lightgrey;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
}

/* Linebreak */
.linebreak {
  background-color: #183354;
  padding: 30px;
}
.linebreak__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% 10%;
}
.linebreak__listItem {
  margin: 0% 10px;
}
.linebreak__heading {
  color: white;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}
.linebreak__para {
  color: white;
  font-size: 18px;
  font-family: "Lora", serif;
}
.linebreak__button {
  border-radius: 25px;
  background-color: salmon;
  color: white;
  padding: 7px 15px;
  letter-spacing: normal;
}
